{% extends 'layouts.html' %}
{% load static %}


{% block content %}

      <section class="u-clearfix u-grey-10 u-section-10" id="carousel_068f">
        <div class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1">
          <div class="u-shape u-shape-rectangle u-white u-shape-1"></div>
          <div class="u-image u-image-circle u-image-1" data-image-width="1100" data-image-height="1050"></div>
          <div class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-shape-rectangle u-group-1">
            <div style="box-shadow: 4px 6px #000;
border: 4px solid;" class="u-container-layout u-valign-middle u-container-layout-1">
              <h3 class="u-text u-text-1">About Our Organization</h3>
              <p class="u-text u-text-2">Rotaract District Organization 3011 is a district recognized by Rotary International which has been working for the Rotary's Areas of Focus and beyond, since 2015. The district spreads across the NCT of Delhi, the revenue districts of Faridabad, Gurugram, Rohtak, and Rewari in Haryana along with other Districts. It constitutes about 70+ Rotaract Clubs with 2000+ Rotaractors. </p>
              <!-- <a href="https://nicepage.best" class="u-active-black u-border-none u-btn u-btn-round u-button-style u-hover-black u-palette-1-base u-radius-50 u-text-active-white u-text-body-alt-color u-text-hover-white u-btn-1">learn more</a> -->

              </p>
            </div>
          </div>
          <div class="u-expanded-width u-list u-list-1">
            <div class="u-repeater u-repeater-1">
              <div style="background-color:#EEEEEE;"  class="u-align-left u-container-style u-custom-item u-list-item u-palette-1-light-1 u-repeater-item u-shape-rectangle">
                <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                  <h3 style="color:#000000 !important;" class="u-custom-font u-custom-item u-font-montserrat u-text u-text-body-alt-color u-text-default u-text-4">Our Aim</h3>
                  <p style="font-size: 1rem;" class="u-custom-item u-text u-text-5">Service Above Self is Rotary’s greatest guiding principle.<br>
The districts' projects are designed to improve the quality of life of others whilst promoting peace through their social service nature. The district works in addressing the most critical issues that persist in the society like violence, drug abuse, AIDS, hunger, climate, and illiteracy.<br>
These steps also train them to create and maintain powerful clubs with relevant service projects and work towards maintaining an ethical and youth-friendly environment thereby working towards a greater good. The district also takes great pride in its awareness and relations to international affairs which in turn helps in establishing harmony all around the world.
<br>
                  </p>
                </div>
              </div>
              <div style="background-color:#000000;" class="u-align-left u-container-style u-custom-item u-list-item u-palette-1-base u-repeater-item u-shape-rectangle">
                <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
                  <h3 class="u-custom-font u-custom-item u-font-montserrat u-text u-text-body-alt-color u-text-default u-text-8">Our Vision</h3>
                  <p style="font-size: 1rem;" class="u-custom-item u-text u-text-9">The district's vision in this Rota Year aligns with the Sustainable Development Goals of the United Nations and aims at nurturing the changemakers of society. The District Rotaract Representative of RID 3011 believes that while we delve into the achievement of the SDGs, alongside it is impeccably vital to nurture those leaders who can work towards achieving these goals, the ones who hone the skills to build a world where there are fewer obstructions for people, and rather more harmony and kindness. Thereby, his main emphasis is to see a better future through the lens of today's young tender minds. Through the auspicious platform of Rotaract, he aspires to echo the Rotary's Areas of Focus in action through young leaders of the community.<br>
                  </p>
                </div>
              </div>
              <div class="u-align-left u-container-style u-custom-item u-list-item u-palette-1-light-3 u-repeater-item u-shape-rectangle">
                <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                  <h3 class="u-custom-font u-custom-item u-font-montserrat u-text u-text-default u-text-6">Our Mission</h3>
                  <p style="font-size: 1rem;" class="u-custom-item u-text u-text-palette-1-base u-text-7">The mission of the district is to echo the Rotary's areas of focus and beyond to reach the maximum number of people and impact their lives remarkably. The district aspires to provide education to all the people, including kids and adults, belonging to humble backgrounds. These efforts in turn make them a great asset to society. The district also has a resolve to make sustainable menstrual hygiene knowledge and tools reach all the menstruating people of the world, along with creating a safer place for all genders.
This resolution also includes eradicating POLIO, and drug use problems among many others to create a better world altogether.
<br>
                  </p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>






  {% endblock %}
