{% extends 'layouts.html' %}
{% load static %}


{% block content %}

<section class="u-clearfix u-section-2" id="carousel_45c2">
  <div class="u-palette-1-base u-shape u-shape-rectangle u-shape-1"></div>
  <div class="u-palette-3-base u-shape u-shape-rectangle u-shape-2"></div>
  <div class="u-container-style u-group u-group-1">
    <div class="u-container-layout u-valign-bottom-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-1">
      <h2 class="u-text u-text-grey-15 u-text-1">Our Projects</h2>
    </div>
  </div>
  <img src="{% static 'images/cc1.jpeg'%} " alt="" class="u-image u-image-default u-image-1">
  <div class="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-expanded-width-xs u-shape u-shape-rectangle u-white u-shape-3"></div>
  <div class="u-border-1 u-border-grey-25 u-container-style u-group u-white u-group-2">
    <div class="u-container-layout u-valign-middle u-container-layout-2">
      <h2 class="u-align-center u-text u-text-palette-3-base u-text-2">CATALYST</h2>
      <p class="u-align-center u-text u-text-3">A fundamental foundation for any new beginning is the ability to prepare for the next move to become the master of the new revolution or handle the new beginning of leadership recognition ~ the small piece of thought engraved in the heart and soul of every Rotaractor of the Rotaract District Organization 3011. "CATALYST" ~ the District Training Officials Seminar was conducted on 26th July 2022  for all newly appointed executives of the entire District Administrative Council. The District Governor Rtn. Ashok Kantoor graced the occasion as the Chief Guest and motivated the Rotaractors for the tenure ahead. Several Past District Governors graced the seminar and addressed all the Rotaractors of District 3011. Rotaractors learned about Rotary's history of making a sustainable future and a better world and how their efforts can further create an impeccable impact on society.
&nbsp;</p>
      <!-- <a href="https://amandamartocchio.com/" class="u-link u-link-1" title="read more" target="_blank">read more</a> -->
    </div>
  </div>
</section>
<section class="u-clearfix u-section-2" id="carousel_45c2">
  <div style="margin:0;" class="u-palette-1-base u-shape u-shape-rectangle u-shape-1"></div>
  <div class="u-palette-3-base u-shape u-shape-rectangle u-shape-2"></div>
  <div class="u-container-style u-group u-group-1">

  </div>
  <img src="{% static 'images/11.jpeg'%} " alt="" class="u-image u-image-default u-image-1">
  <div class="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-expanded-width-xs u-shape u-shape-rectangle u-white u-shape-3"></div>
  <div class="u-border-1 u-border-grey-25 u-container-style u-group u-white u-group-2">
    <div class="u-container-layout u-valign-middle u-container-layout-2">
      <h2 class="u-align-center u-text u-text-palette-3-base u-text-2">ABHIBHU</h2>
      <p class="u-align-center u-text u-text-3">A new beginning with an atmosphere of aspiration and an enthusiast mindset that will shape the future of the District Rotaract 3011 into a new settlement. <br>

On 28th July 2022,  the Installation Ceremony of District Rotaract Representative Rtn. Rtr. PHF  Ankit Singh "अभिभू" was held. Consequently, The District Rotaract Representative was officially collared, and along with all the executives of the District Administrative Council were pinned. "ASPIRE ~ Nurturing Leaders for a Sustainable Tomorrow" was announced as the District Theme for Rota Year 2022-23. Respected District Governor Ashok Kantoor graced the occasion and delighted the Rotaractors with the foundation of his experience to unfold and shape one's professional growth along with working for the welfare of society. Several PDGs and Rotarians of RID 3011 sparked the ambiance with their presence and shared their guidance that can lead to sustainable growth and a prosperous year ahead for all Rotaractors in Rotaract District 3011 in the upcoming tenure.

&nbsp;</p>
      <!-- <a href="https://amandamartocchio.com/" class="u-link u-link-1" title="read more" target="_blank">read more</a> -->
    </div>
  </div>
</section>


  {% endblock %}
